{% extends 'admin/base_admin.html.twig' %}

{% block title %}Nouveau type de page{% endblock %}

{% block body %}

    {{ include('admin/pages_type_admin/_form.html.twig') }}

    <a href="{{ path('app_pages_type_admin_index') }}" class="btn btn-info mr-3"><i class="fa-solid fa-chevron-left fa-sm mr-3"></i>Retour</a>
{% endblock %}
