{% extends 'admin/base_admin.html.twig' %}

{% block title %}Nouveau Tags{% endblock %}

{% block body %}
    <h1>Nouveau Tags</h1>

    {{ include('admin/tags_admin/_form.html.twig') }}
<div class="d-flex mt-3">
    <a href="{{ path('app_tags_admin_index') }}" class="btn btn-info mr-3"><i class="fa-solid fa-chevron-left fa-sm mr-3"></i>Retour</a>
</div>
{% endblock %}
