/* general */

body {
    height: 100%;
    margin: 0;
    font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #858796;
    text-align: left;
    background-color: #fff;
}

/* admin login */
.bg-gradient-primary {
    background-color: #4e73df;
    background-size: cover;
}

.card-block-text {
    padding: 1.25rem 0 !important;
}

.bg-login-image {
    background: url(/assets/img/logo.png);
    background-position: center;
    background-size: cover;
}

.form-group {
    margin-bottom: 1rem;
}

form.user .form-control-user {
    font-size: .8rem;
    border-radius: 10rem;
    padding: 1.5rem 1rem;
}