{% extends 'admin/base_admin.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% block body %}

    {{ include('admin/articles_admin/_form.html.twig') }}

    <a href="{{ path('app_articles_admin_index') }}" class="btn btn-info mr-3"><i class="fa-solid fa-chevron-left fa-sm mr-3"></i>Retour</a>
{% endblock %}
