#map {
    height: 300px;
    width: 500px;
    }

#result {
    border: 1px dotted #ccc;
    padding: 3px;
    display: none;
    position: absolute;
    z-index: 100;
    background-color: azure;
    border: 1px solid #4d4141;
    }
#result ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    }
#result ul li {
    padding: 5px 0;
    }
#result ul li:hover {
    background: #eee;
    cursor: pointer;
    }