{% extends 'admin/base_admin.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}

    {{ include('admin/user_admin/_form.html.twig') }}

    <a href="{{ path('app_user_admin_index') }}">back to list</a>
{% endblock %}
