{% extends 'admin/base_admin.html.twig' %}

{% block title %}Création d'un administrateur{% endblock %}

{% block body %}

    {{ include('admin/team/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    <div class="d-flex mt-3">
        <a href="{{ path('app_team_index') }}" class="btn btn-info mr-3"><i class="fa-solid fa-chevron-left fa-sm mr-3"></i>Retour</a>
    </div>
{% endblock %}
