{% extends "emails/base_email.html.twig" %}{% block content %}<p>Bonjour {{ team.firstname }}, Ton compte administrateur vient d'&ecirc;tre cr&eacute;&eacute; sur L&eacute;gion ! Il ne te reste plus qu'&agrave; suivre ce lien pour cr&eacute;er ton mot de passe : <a href="{{ app.request.schemeAndHttpHost }}/reset-password/reset/{{ resetToken.token }}">Cr&eacute;er mon mot de passe</a></p>
<div>
<div>Attention, ce lien n'est valide que durant 1 heure</div>
</div>{% endblock %}