{% extends "emails/base_email.html.twig" %}{% block content %}<p>Bonjour,</p>
<p>Oupppppps !!!</p>
<p>Il semblerai que votre annonce ne remplisse pas tous les crit&egrave;res de la communaut&eacute; :((</p>
<p>Votre demande de mise en ligne a &eacute;t&eacute; rejet&eacute;e, vous pouvez toutefois modifier votre annonce et la proposer &agrave; nouveau.</p>{% endblock %}