{% extends "emails/base_email.html.twig" %}{% block content %}<p>Bonjour,</p>
<p>OUPSSSSS ...</p>
<p>Il semblerai que votre article {{ articles.title }} ne correspondent pas aux standards de la communaut&eacute;.</p>
<p>Nous avons donc d&eacute;cid&eacute; de ne pas la mettre en ligne telle qu'elle, vous pouvez la modifier et la proposer de nouveau &agrave; l'&eacute;valuation</p>{% endblock %}