<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <img src="/assets/img/logo.png" height="150px" width="auto">
        <div>{% block content %}{{ content|raw }}{% endblock %}</div>
        <div>© 2023 - Légion</div>
    </body>
</html>