{% extends "emails/base_email.html.twig" %}{% block content %}<p>Bonjour {{ user.firstname }},</p>
<p>Nous avons le plaisir de vous informer que le compte de votre structure {{ company.name }} vient d'&ecirc;tre activ&eacute; !</p>
<p>Les internautes ont acc&egrave;s &agrave; sa fiche et peuvent voir vos annonces, p&eacute;titions et autres articles !</p>{% endblock %}