{% extends "emails/base_email.html.twig" %}{% block content %}<p>Bonjour {{ user.firstname }},</p>
<p>Ton compte vient d'&ecirc;tre cr&eacute;&eacute; sur L&eacute;gion par l'administrateur de &nbsp;{{ company.name }} !</p>
<p>Il ne te reste plus qu'&agrave; suivre ce lien pour cr&eacute;er ton mot de passe : <a href="{{ app.request.schemeAndHttpHost }}/reset/{{ resetToken }}">Cr&eacute;er mon mot de passe</a></p>
<div>
<div>Attention, ce lien n'est valide que durant 1 heure</div>
</div>{% endblock %}