{% extends "emails/base_email.html.twig" %}{% block content %}<p>Bonjour,</p>
<p>vous avez demand&eacute; la r&eacute;initialisation de votre mot de passe.</p>
<p>Suivez le len ci-dessous afin de le r&eacute;initialiser</p>
<p><a href="{{ app.request.schemeAndHttpHost }}/reset-password/reset/{{ resetToken.token }}">R&eacute;initialiser mon mot de passe</a></p>
<p>Attention, ce lien n'est valide que durant 1 heure</p>{% endblock %}