{% extends "emails/base_email.html.twig" %}{% block content %}<p>Bonjour {{ user.firstname }},</p>
<p>Votre compte a &eacute;t&eacute; cr&eacute;&eacute; sur L&eacute;gion, vous pouvez d&eacute;sormais vous connecter et commencer &agrave; g&eacute;rer votre structure "{{ company.name }}" !</p>
<p>Celle ci n'est pas encore active, vous recevrez un email lors de son activation par un administrateur.</p>{% endblock %}