<form method="post" action="{{ path('app_company_type_admin_delete', {'id': company_type.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ company_type.id) }}">
    <button  class="btn btn-danger btn-xl _deleteBtn">Supprimer ce type de client</button>
</form>
