{% extends 'admin/base_admin.html.twig' %}

{% block title %}Créer {{ typeName|lower }}{% endblock %}

{% block body %}

    {{ include('admin/company_admin/_form.html.twig') }}
    <div class="d-flex mt-3">
        <a href="{{ path('app_company_admin_index', {'idType': idType}) }}" class="btn btn-info mr-3"><i class="fa-solid fa-chevron-left fa-sm mr-3"></i>Retour</a>
    </div>
{% endblock %}
