/* general */

body {
    height: 100%;
    margin: 0;
    font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #858796;
    text-align: left;
    background-color: #fff;
}

/* admin login */
.bg-gradient-primary {
    background-color: #4e73df;
    background-size: cover;
}

.card-boby {
    padding: 1.25rem 0 !important;
}

.bg-login-image {
    background: url(/assets/img/logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.form-group {
    margin-bottom: 1rem;
}

form.user .form-control-user {
    font-size: .8rem;
    border-radius: 10rem;
    padding: 1.5rem 1rem;
}

.modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

label.required:after {
    content: "* ";
    color: #ff0000;
}

/************ fontawesome ***************/
.fa-trash-can {
    color: #ff0000;
}
/*********** tables ***********/

.action_cell {
    width: 9vw;
    align-items: center;
}

.form_list {
    float: left;
    display: block;
}

.neg-1 {
    margin-top: -.66vh;
}

/********** colors *********/
.text-red {
    color: #ff0000;
}

/************* alertes ************/
.alert {
    position: absolute;
    z-index: 10000;
    top: 15px;
    right: 15px;
    display: flex;
    flex-flow: row;
    margin: 10px 0;
    width: 250px;
    min-height: 90px;
    height: auto;
    background-color: #cecece;
    border-radius: 4px;
    color: #fff;
    box-shadow: 0px 10px 46px -21px rgba(0, 0, 0, 0.75);
    transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
    cursor: pointer;
}
.alert:hover {
    box-shadow: 0px 10px 60px -21px rgba(0, 0, 0, 0.80);
}
.alert.success {
    background-color: #3db56e;
}
.alert.notice {
    background-color: #67a4c0;
}
.alert.wait {
    background-color: #c3d2d9;
}
.alert.error {
    background-color: #c84346;
}
.alert-icon {
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
}
.alert-content {
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column;
    width: 100%;
}
.alert-content .alert-close {
    position: absolute;
    font-size: 0.7em;
    top: 7px;
    right: 10px;
    cursor: pointer;
}
